/*custom css*/
.mybox{
    border:1px solid Red;
}

.overlay-message{
    top: 2px; 
    left: 2px;
    padding:5px 10px;
    position: fixed;
    background-color: #ECA00F;
    border:1px solid #000;
    color: #fff;
    z-index: 9999;    
}

.error-msg{
    font-size: 12px;
    font-style: italic;
    margin-top: 1px;
    display: inline-block;
    padding: 2px;
    color: #ff0000;
}

/*Buttton*/

.btn-outline,.text-outline {
    color: inherit;            
    background-color: transparent;
    transition: all .2s;
}

.btn-outline{
    color: #000 !important;
}

.text-outline {
    color: #999 !important;
}

.btn-primary.btn-outline {
    background-color: #094bac;
}

.btn-success.btn-outline {
    background-color: #5cb85c;
}

.btn-info.btn-outline {
    background-color: #5bc0de;
}

.btn-warning.btn-outline {
    background-color: #ff9000;
}

.btn-danger.btn-outline {
    background-color: #d9534f;
}

.text-outline:hover{
    color: #fff !important;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff !important;
}