body,html{            
    min-height: 110vh;
}

body{
    background-color: #000 !important;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Varta', sans-serif;
    scroll-behavior: smooth;
}

.content{
	padding: 60px 20px;
}

.navbar {
    transition: all 0.4s;
    background-color: #212121;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: #ff9000;
	background-color: white;
    text-decoration: none;
}

/* Change navbar styling on scroll */
/* .navbar.active {
    background: #212121;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #ffffff ;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
	color: black;
	background-color: #ff9000;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #ffffff ;
} */


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #212121;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #ffffff;
    }
}

.footer{
    background-color: #212121;
    color:white;
}

.hr_footer{
    background-color:#ff9000;
    width: 60px;
}

.border-size{
    width:60%;
}

.font-responsive{
    text-align: justify;
    text-justify: inter-word;
}

.orange{
    color:#ff9000;
}